---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class="planets">
    <div class="planet sun"> Sun </div>
    <div class="planet mercury"> mercury </div>
    <div class="planet venus"> venus </div>
    <div class= "planet earth"> earth </div>
    <div class= "planet mars"> mars </div>
    <div class= "planet jupiter"> jupiter </div>
    <div class ="planet saturn"> saturn </div>
    <div class ="planet uranus"> uranus </div>
    <div class = "planet neptune"> neptune </div>
</div>