---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class="planets">
    <div class="planet sun"> Sun <p> Type:G2V </p> </div>
    <div class="planet mercury"> mercury <p> Type:G2V </p> </div>
    <div class="planet venus"> venus <p> Type:G2V </p> </div>
    <div class= "planet earth"> earth <p> Type:G2V </p> </div>
    <div class= "planet mars"> mars <p> Type:G2V </p> </div>
    <div class= "planet jupiter"> jupiter <p> Type:G2V </p> </div>
    <div class ="planet saturn"> saturn <p> Type:G2V </p> </div>
    <div class ="planet uranus"> uranus <p> Type:G2V </p> </div>
    <div class = "planet neptune"> neptune <p> Type:G2V </p> </div>
</div>