---
layout: layout.liquid
title: Planetary Playing Cards
---


<h1> Planetary Playing Cards </h1>

<div class="planets">
    <div class="planet sun"> Sun <p> Type:G2V </p> </div>
    <div class="planet mercury"> Mercury <p> 0.4 AU </p> </div>
    <div class="planet venus"> Venus <p> 0.72 AU </p> </div>
    <div class= "planet earth"> Earth <p> 1.00 AU </p> </div>
    <div class= "planet mars"> Mars <p> 1.52 AU </p> </div>
    <div class= "planet jupiter"> Jupiter <p> 5.20 AU </p> </div>
    <div class ="planet saturn"> Saturn <p> 9.54 AU </p> </div>
    <div class ="planet uranus"> Uranus <p> 19.22 AU </p> </div>
    <div class = "planet neptune"> Neptune <p> 30.06 AU </p> </div>
</div>