body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

.planets{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
    gap:20px;
        
}
.planet{
    background: #5d5a76;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    
}

.planet::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust circle size as needed */
    height: 100px; /* Adjust circle size as needed */
    border-radius: 50%; /* Create a circular shape */
    background-color: blue; /* Default circle color */
}


.planet.sun::before{
    width: 250px; 
    height: 250px; 
    background: linear-gradient(45deg, rgb(243, 130, 24) 0%, rgb(222, 245, 14) 100%); 
}

.planet.sun{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}


h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}